{
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "rules": {
    "global-require": 0,
    "import/no-unresolved": 0,
    "no-console": 0,
    "no-empty-label": 0,
    "no-iterator": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "space-after-keywords": 0,
    "space-before-keywords": 0,
    "space-return-throw-case": 0
  }
}
