{
  "title": "{{schemaName}}",
  "properties": {
    "name": {
      "format": "single-line",
      "title": "Name",
      "type": "string",
      "displayPriority": 1
    }
  },
  "titleProperty": "name",
  "type": "object"
}